<!DOCTYPE html>
<html lang="en">

<head>
      <title>Spaceall</title>
      <meta charset="UTF-8">
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
</head>

<body>

      <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
                  <img src="/docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30"
                        class="d-inline-block align-top" alt="" loading="lazy">
                  SpaceAll</a>
      </nav>
      <div class="jumbotron">
            <h1 class="display-4">SpaceAll</h1>
            <p class="lead">A new way to store your unused items and manage your space while saving you money.</p>
            <hr class="my-4">
            <p>To learn more about what we provide visit our <a href="">FAQ</a>.</p>
            <a class="btn btn-primary btn-lg" href="renterinput.html" role="button">Looking For Space</a>
            <a class="btn btn-primary btn-lg" href="providerinput.html" role="button">I Have Space</a>
      </div>

      {{{ body }}}


      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="/assets/js/script.js"></script>
</body>

<footer>
      <p>Copyright 2020</p>
</footer>

</html>