
<nav class="navbar navbar-light bg-light">
   <a class="navbar-brand" href="#">
      <img src="/docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top"
         alt="" loading="lazy">
      SpaceAll</a>
</nav>
<div class="jumbotron">
   <h1 class="display-4">SpaceAll</h1>
   <p class="lead">A new way to store your unused items and manage your space while saving you money.</p>
   <hr class="my-4">
   <p>To learn more about what we provide visit our <a href="">FAQ</a>.</p>
   <a class="btn btn-primary btn-lg" href="renterinput.html" role="button">Looking For Space</a>
   <a class="btn btn-primary btn-lg" href="providerinput.html" role="button">I Have Space</a>
</div>

{{!-- <div class="col-md-12 " id="top-bar">
   <h1 class="ml-4"> Sequelize box </h1>
</div>

<div class="container">
   <div class="row">

      {{!-- view cooment  --}}
      {{> viewComments}}

      {{!-- post comment --}}
      {{> postComments}}

   </div>
</div> --}}